# The Portable Python instance 3.13.0
Python/

# HTML file created while testing the Plot
Battrayicon.html

# Log file created while testing
Log.json

# The files related to the release
Portable/ 

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
